# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.2048 clone.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../:\2048 clone\.idea\.idea.2048 clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
